PORT=8080

# Configuración de conexión a la base de datos (usada por la app)
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=metrics_db
DB_PORT=5432
DB_SSLMODE=disable

# Variables para docker-compose (credenciales del contenedor PostgreSQL)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=metrics_db
