PORT=8080
APP_ENV=development

# Configuración de conexión a la base de datos (usada por la app local)
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5433
DB_SSLMODE=disable

# Nombres de bases de datos por entorno
DB_NAME_DEV=metrics_db_dev
DB_NAME_TEST=metrics_db_test
DB_NAME_PROD=metrics_db
